
  .header {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; /* Adjust logo size as needed */
    height: 50px;
    margin: 15px 10px 15px 15px;
  }
  
  .account-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 1000;
  }
  
  .account-container {
    position: relative; /* This ensures dropdown is positioned relative to this container */
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }

  .welcome-message{
    margin: 10px;
  }

  h2{
    color: #000000;
  }

  h2:hover{
    color: #004494;
  }
  